<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0 alert alert-danger ">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3> ДЕСИСЛАВА БЕКИРСКА</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Здравейте,името ми е Десислава Бекирска и съм педагог по образование.Занимавам се
                            професионално с грим вече 15 години.Кадър съм на Proface Makeup School,с преподавател
                            прекрасната Пепа Стоянова.</p>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            През 2019г.преминах и през мастърклас на талантливата Мария Лихачева(Apropo Makeup Academy)
                            в Букурещ.
                            През 2023г.взех участие в мастърклас Halloween Makeup ,организиран от Kody Professional,
                            воден от Алена Семенец,която е многократен носител на награди за артистичен грим.</p>
                        <p class="description-p text-muted pe-0 pe-lg-0">В годините имам възможността да работя по
                            безброй разнообразни проекти: ревюта,видеа,фотосесии,сценични спектакли и пр.Това ми даде
                            почва да развия творческия си потенциал и смея да твърдя,че за мен табута в грима няма!От
                            нежния и дискретен ежедневен грим,до артистични сценични визии - всичко това е част от
                            менюто.Обожавам да работя и с булки също така, и да успявам да допринеса за едни от
                            най-приказните моменти в живата на една жена.Вярвам и че най-красивите и оригинални визии
                            все още предстоят. </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Преди 3 години съставих своя програма за обучение на професионални гримьори - Базов курс по
                            грим,подходящ за хора които искат да се развиват в сферата на грима.
                            Другото обучение,което предлагам е Урок по самогримиране,който е подходящ за напълно
                            начинаещи,жени които имат желание да се справят добре върху собственото си лице.
                        </p>
                        <div class="sosmed-horizontal pt-3 pb-3">
                            <a href="https://www.facebook.com/DesislavaBekirskaMakeUp"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/desislava_bekirska_make_up/?igsh=dmVuYjZ3c2l1Y2dn"><i class="fa fa-instagram"></i></a>

                        </div>

                        <!-- <div class="alert alert-secondary" role="alert">
                            Курсове за професионален грим, цени и местоположение
                        </div> -->
                        <div class="card alert alert-danger" style="width: 18rem;">
                            <div class="card-header">
                                Информация :
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Цена :1300лв. / 40 учебни часа</li>
                                <li class="list-group-item">Цена :180лв. / 3 астрономически часа / Урок по самогримиране
                                </li>
                                <li class="list-group-item">Теория и практика</li>
                                <li class="list-group-item">Индивидуални курсове</li>
                                <li class="list-group-item">гр.София кв.Оборище, ул.Марица №11</li>
                                <li class="list-group-item">0889292609</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <img src="assets/img/2024-01-07_11-03-29-125.jpg" alt="potoabout" width="500" height="700" />
                </figure>
            </div>
        </div>
    </div>
</section>