<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <section class="member-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="img-container">
                        <img src="assets/img/2024-01-07_11-03-29-125.jpg" alt="team member" class="img-full">
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="member_designation">
                        <h2>ДЕСИСЛАВА БЕКИРСКА</h2>
                        <span>MAKE UP ARTIST</span>
                    </div>
                    <div class="member_desc">
                        <p>
                            Здравейте,името ми е Десислава Бекирска и съм педагог по образование.Занимавам се
                            професионално с грим вече 15 години.Кадър съм на Proface Makeup School,с преподавател
                            прекрасната Пепа Стоянова. </p>
                        <p>
                            През 2019г.преминах и през мастърклас на талантливата Мария Лихачева(Apropo Makeup Academy)
                            в Букурещ.
                            През 2023г.взех участие в мастърклас Halloween Makeup ,организиран от Kody Professional,
                            воден от Алена Семенец,която е многократен носител на награди за артистичен грим.</p>
                        <p>
                            В годините имам възможността да работя по
                            безброй разнообразни проекти: ревюта,видеа,фотосесии,сценични спектакли и пр.Това ми даде
                            почва да развия творческия си потенциал и смея да твърдя,че за мен табута в грима няма!От
                            нежния и дискретен ежедневен грим,до артистични сценични визии - всичко това е част от
                            менюто.Обожавам да работя и с булки също така, и да успявам да допринеса за едни от
                            най-приказните моменти в живата на една жена.Вярвам и че най-красивите и оригинални визии
                            все още предстоят. </p>
                        <p>
                            Преди 3 години съставих своя програма за обучение на професионални гримьори - Базов курс по
                            грим,подходящ за хора които искат да се развиват в сферата на грима.
                            Другото обучение,което предлагам е Урок по самогримиране,който е подходящ за напълно
                            начинаещи,жени които имат желание да се справят добре върху собственото си лице.
                            </p>

                        <ul class="styled_list">
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Цена :1300лв. / 40 учебни часа</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>Цена :180лв. / 3 астрономически часа / Урок по самогримиране</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Теория и практика</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                Индивидуални курсове</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>гр.София кв.Оборище, ул.Марица №11</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>0889292609</li>
                        </ul>
                        <div class="sosmed-horizontal pt-3 pb-3">

                            <button type="button" class="btn btn-outline-dark">
                                <a class="btn-link" href="makeUp/gallery">Галерия</a>
                            </button>

                        </div>

                    </div>
                    <div class="bg-image "
                        style="background-image: url('https://www.bootdey.com/img/Content/bg_element.jpg');">
                        <div class="member_contact">
                            <div class="row">
                                <div class="col-lg-4  mb-3 mb-lg-0">
                                    <div class="media-box">
                                        <div class="media-icon">
                                            <i class="fa fa-tablet" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-content">
                                            <h5>Phone</h5>
                                            <p><a href="callto">0889292609</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4  mb-3 mb-lg-0">
                                    <div class="media-box">
                                      
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="social-icons">
                                        <button class="btn btn-social outlined">
                                            <a href="https://www.facebook.com/DesislavaBekirskaMakeUp"><i
                                                    class="fa fa-facebook"></i></a></button>

                                        <button class="btn btn-social outlined"><a
                                                href="https://www.instagram.com/desislava_bekirska_make_up/?igsh=dmVuYjZ3c2l1Y2dn"><i
                                                    class="fa fa-instagram"></i></a></button>
                                        <button class="btn btn-social outlined"><a href="makeUp/gallery"><i
                                                    class="fa fa-image"></i></a></button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section>
</div>

