<div class="container">
    <div class="section-title text-center">
        <h2>ГАЛЕРИЯ</h2>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="grid" class="row">
                <div class="mix col-sm-3 page1 page4 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/373015824_3562594924023789_2256708762245459365_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3 page2 page3 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/398687893_3599339263682688_1164232177902543333_n.jpg" class="img-responsive" alt="workimg">
                        
                    </div> 

                </div>
                <div class="mix col-sm-3  page3 page2 margin30 ">
                    <div class="item-img-wrap ">
                        <img src="assets/image/316950433_3364692940480656_3047887788745650302_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3  page4 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/318094661_3364692920480658_6701809698941346173_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
 
                <div class="mix col-sm-3  page4 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/318100048_3364692903813993_6706953022584973662_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3  page4 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/332737800_508666128132214_1452332281986871168_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                                                                         
            </div><!--grid-->
        </div>
    </div>
    <!-- <div class="row gallery-bottom">
        <div class="col-sm-6">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 text-right">
            <em>Displaying 1 to 8 (of 100 posts)</em>
        </div>
    </div> -->
</div>