<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">




<div class="container headerTop">
    <div class="text-center mb-2-8 mb-lg-6">
        <h2 class="display-18 display-md-16 display-lg-14 font-weight-700">КУРСОВЕ </h2>
        <!-- <strong class="text-primary font-weight-700">Us</strong> -->
        <!-- <span>The trusted source for why choose us</span> -->
    </div>
    <div class="row align-items-center">
        <div class="col-sm-6 col-lg-4 mb-2-9 mb-sm-0">
            <div class="pr-md-3">
                <div class="text-center text-sm-right mb-2-9 p-3">
                    <!-- <div class="mb-4">
                        <img src="assets/img/20231120_122720.jpg" alt="..." class="rounded-circle" width="80" height="80">
                    </div> -->
                    <h4 class="sub-info">КУРСОВЕ ЗА МАНИКЮР</h4>
                    <p class="display-30 mb-0">Roin gravida nibh vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>
                <div class="text-center text-sm-right mb-2-9 p-3">
                    <!-- <div class="mb-4">
                        <img src="https://www.bootdey.com/image/80x80/87CEFA/000000" alt="..." class="rounded-circle">
                    </div> -->
                    <h4 class="sub-info">КУРСОВЕ ЗА ГРИМ</h4>
                    <p class="display-30 mb-0">Gravida roin nibh vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            <div class="why-choose-center-image">
                <img src="assets/img/2024-01-04_11-38-51-087.jpg" alt="..." class="rounded-circle">
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="pl-md-3">
                <div class="text-center text-sm-left mb-2-9 p-3">
                    <!-- <div class="mb-4">
                        <img src="https://www.bootdey.com/image/80x80/8A2BE2/000000" alt="..." class="rounded-circle">
                    </div> -->
                    <h4 class="sub-info">КУРСОВЕ ЗА КОЗМЕТИК</h4>
                    <p class="display-30 mb-0">Nibh roin gravida vel velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>

                <div class="text-center text-sm-left  mb-2-9 p-3">
                    <!-- <div class="mb-4">
                        <img src="https://www.bootdey.com/image/80x80/20B2AA/000000" alt="..." class="rounded-circle">
                    </div> -->
                    <h4 class="sub-info">КУРСОВЕ ЗА ФРИЗЬОРСТВО
                    </h4>
                    <p class="display-30 mb-0">Vel proin gravida nibh velit auctor aliquetenean sollicitudin, lorem qui bibendum auctor.</p>
                </div>
            </div>
        </div>
    </div>
</div>