<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="container headerTop " class="contact-area section-padding">
    <div class="container">
        <div class="section-title text-center">
            <h2>КОНТАКТИ</h2>

        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="contact">
                    <div class="row">
                        <div class="col-sm">
                            <div class="contact-map">
                                <iframe
                                    src="https://www.google.com/maps/embed/v1/place?q=гр.София+кв.Оборище, ул.Марица+№11&amp;key=AIzaSyBSFRN6WWGYwmFi498qXXsD2UwkbmD74v4"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                    style="width: 100%; height: 360px;"></iframe>
                            </div>
                        </div><!-- end col -->
                    </div> <!-- end row -->
                </div>
            </div><!--- END COL -->
            <div class="col-lg-5">
                <div class="single_address">
                    <i class="fa fa-map-marker"></i>
                    <h4>Адрес</h4>
                    <p>гр.София кв.Оборище, ул.Марица №11</p>
                </div>
                <div class="single_address">
                    <i class="fa fa-envelope"></i>
                    <h4>Емейл</h4>
                    <p>Info example.com</p>
                </div>
                <div class="single_address">
                    <i class="fa fa-phone"></i>
                    <h4>Свържисе с нас</h4>
                    <p>088 777 0818</p>
                </div>
                <div class="single_address">
                    <i class="fa fa-clock-o"></i>
                    <h4>Работно време</h4>
                    <p>Понеделник - Петък: 10.00 - 18.00. <br>Sat: 10.00 - 18.00</p>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</div>