<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <section class="member-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="img-container">
                        <img src="assets/img/2024-01-10_16-02-10-606.jpg" alt="team member" class="img-full">
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="member_designation">
                        <h2>ГЕРГАНА ЯНКОВА</h2>
                        <span>PROFESSIONAL BEAUTICIAN</span>
                    </div>
                    <div class="member_desc">
                        <p> Здравейте, аз съм Гергана Янкова, професионалист в сферата на козметологията с 18-годишен
                            опит! През този дълъг период съм постоянно насърчавала своето развитие в различни
                            направления на козметичната грижа.
                        </p>
                        <p> Моята работа е плод на отдаденост и любов към професията,
                            като резултат от което имам удовлетворени и щастливи клиенти. Винаги съм готова да
                            предоставя професионални и индивидуални грижи за всеки, който търси качествено обслужване в
                            областта на козметологията.
                        </p>
                        <ul class="styled_list">

                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Теория и практика
                            </li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Индивидуални и
                                групови курсове</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>гр.София </li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>0899159332</li>

                        </ul>
                        <div class="sosmed-horizontal pt-3 pb-3">

                            <button type="button" class="btn btn-outline-dark">
                                <a class="btn-link" href="beautician/gallery">Галерия</a>
                            </button>

                        </div>

                    </div>
                    <div class="bg-image "
                        style="background-image: url('https://www.bootdey.com/img/Content/bg_element.jpg');">
                        <div class="member_contact">
                            <div class="row">
                                <div class="col-lg-4  mb-3 mb-lg-0">
                                    <div class="media-box">
                                        <div class="media-icon">
                                            <i class="fa fa-tablet" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-content">
                                            <h5>Phone</h5>
                                            <p><a href="callto">0899159332</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4  mb-3 mb-lg-0">
                                    <div class="media-box">
                                        <div class="media-icon">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-content">
                                            <h5>Email</h5>
                                            <!-- <p><a href="mailto">lazarova.galq&#64;gmail.com</a></p> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="social-icons">
                                        <button class="btn btn-social outlined">
                                            <a href="https://www.facebook.com/newvisionmg"><i
                                                    class="fa fa-facebook"></i></a></button>

                                        <button class="btn btn-social "><a
                                                href="https://www.instagram.com/newvisionmg/?igsh=MXhlc3Nzc2x1bGYxeA%3D%3D"><i
                                                    class="fa fa-instagram"></i></a></button>
                                        <button class="btn btn-social "><a href="beautician/gallery"><i
                                                    class="fa fa-image"></i></a></button>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section>
</div>