<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0 alert alert-danger ">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>ГЕРГАНА ЯНКОВА</h3>
                        </div>
                      

                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Здравейте, аз съм Гергана Янкова, професионалист в сферата на козметологията с 18-годишен
                            опит! През този дълъг период съм постоянно насърчавала своето развитие в различни
                            направления на козметичната грижа. Моята работа е плод на отдаденост и любов към професията,
                            като резултат от което имам удовлетворени и щастливи клиенти. Винаги съм готова да
                            предоставя професионални и индивидуални грижи за всеки, който търси качествено обслужване в
                            областта на козметологията. </p>
                        
                        <div class="sosmed-horizontal pt-3 pb-3">
                            <a href="https://www.facebook.com/newvisionmg"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/newvisionmg/?igsh=MXhlc3Nzc2x1bGYxeA%3D%3D"><i
                                    class="fa fa-instagram"></i></a>

                        </div>

                        <!-- <div class="alert alert-secondary" role="alert">
                            Курсове за професионален грим, цени и местоположение
                        </div> -->
                        <div class="card alert alert-danger" style="width: 18rem;">
                            <div class="card-header">
                                Информация :
                            </div>
                            <ul class="list-group list-group-flush">
                                <!-- <li class="list-group-item">Цена :1300лв. / 40 учебни часа</li>
                                <li class="list-group-item">Цена :180лв. / 3 астрономически часа / Урок по самогримиране
                                </li> -->
                                <li class="list-group-item">Теория и практика</li>
                                <li class="list-group-item">Индивидуални курсове</li>
                                <li class="list-group-item">гр.София</li>
                                <li class="list-group-item">0899159332</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <img src="assets/img/2024-01-10_16-02-10-606.jpg" alt="potoabout" width="500" height="700" />
                </figure>
            </div>
        </div>
    </div>
</section>