<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <section class="member-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="img-container">
                        <img src="assets/img/2024-01-06_15-55-24-210.jpg" alt="team member" class="img-full">
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="member_designation">
                        <h2>АННА КАРАСТОЯНОВА</h2>
                        <span>HAIR ARTIST</span>
                    </div>
                    <div class="member_desc"> 
                        <p>
                            Казвам се Анна Карастоянова.Завършила съм професионална гимназия по
                            Завършила два курса в една от най-добрите академии в света-Sviato Academy. Преминала е курс
                            в Естония. Учила е при един от топ 5 треньори в Естония-Виталина Качоривская. Работи с
                            техниките Soft liner, Magic Shading, Aquarell Lips.
                        </p>
                        <p>Извършва и премахване на стар некачествен перманентен грим.Работи само с
                            най-висококачествени пигменти и материали сертифицирани в Европа.
                        </p>
                        <p>Използва наноигли, които не нараняват кожата и не предизвикват силни отоци. Всички
                            консумативи са за еднократна употреба и се унищожават веднага след процедурата.</p>
                        <ul class="styled_list">
                          
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Теория и практика</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Индивидуални и
                                групови курсове</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>гр.София</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>0889617199</li>

                        </ul>
                        <div class="sosmed-horizontal pt-3 pb-3">

                            <button type="button" class="btn btn-outline-dark">
                                <a class="btn-link" href="permanentMakeup/gallery">Галерия</a>
                            </button>

                        </div>

                    </div>
                    <div class="bg-image "
                        style="background-image: url('https://www.bootdey.com/img/Content/bg_element.jpg');">
                        <div class="member_contact">
                            <div class="row">
                                <div class="col-lg-4  mb-3 mb-lg-0">
                                    <div class="media-box">
                                        <div class="media-icon">
                                            <i class="fa fa-tablet" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-content">
                                            <h5>Phone</h5>
                                            <p><a href="callto">0889617199</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4  mb-3 mb-lg-0">
                                    <div class="media-box">
                                        <div class="media-icon">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-content">
                                            <h5>Email</h5>
                                            <!-- <p><a href="mailto">lazarova.galq&#64;gmail.com</a></p> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="social-icons">
                                        <button class="btn btn-social outlined">
                                            <a href="https://www.facebook.com/profile.php?id=100008199495265"><i
                                                    class="fa fa-facebook"></i></a></button>

                                        <button class="btn btn-social "><a
                                                href="https://www.instagram.com/ani.kara.permanent/?igsh=MWFscDg5eGs5ZDY2MQ%3D%3D"><i
                                                    class="fa fa-instagram"></i></a></button>
                                        <button class="btn btn-social "><a href="permanentMakeup/gallery"><i
                                                    class="fa fa-image"></i></a></button>

                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section>
</div>



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

