<footer class=" footer" style="background-color: #22211F;">

    <div class="footer-top py-4">

        <div class="container">
            <div class="row gy-1">
                <!-- <div class="col-lg-4">

                    <a class="navbar-brand" href="/activities"><img src="assets/img/2024-01-04_17-07-29-917.jpg"
                            alt="..." width="90" height="90" /></a>
                    <p class="m-0 text-white text-opacity-75">©Web design by Zdravka Goranova </p>
                </div> -->
                <div class="row gy-1 justify-content-center">

                    <div class="col-6 col-lg-4">
                        <!-- <h5 class="text-white footer-title-01">КУРСОВЕ</h5> -->
                        <ul class="list-unstyled footer-link-01 m-0 text-center">
                            <li><a class="text-white text-opacity-75" href="/activities"> КУРСОВЕ</a></li>

                        </ul>
                    </div>
                    <div class="col-6 col-lg-4">
                        <!-- <h5 class="text-white footer-title-01">ЗА НАС</h5> -->
                        <ul class="list-unstyled footer-link-01 m-0 text-center">
                            <li><a class="text-white text-opacity-75" href="/contactUs">КОНТАКТИ</a></li>

                        </ul>
                    </div>
                    <div class="col-6 col-lg-4">
                        <!-- <h5 class="text-white footer-title-01">КОНТАКТИ</h5> -->
                        <ul class="list-unstyled footer-link-01 m-0 text-center">
                            <li><a class="text-white text-opacity-75" href="/gallery">ГАЛЕРИЯ</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom small py-3 border-top border-white border-opacity-10">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start py-1">
                    <p class="m-0 text-white text-opacity-75">© Copyright Beauty Training, 2023 <a class="text-reset"
                            href="#">All rights reserved !</a></p>

                </div>
                <div class="col-md-6 text-center text-md-end py-1">
                    <ul class="nav justify-content-center justify-content-md-end list-unstyled footer-link-01 m-0">

                        <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-white text-opacity-75">©Web design
                                by Zdravka Goranova </a>
                        </li>
                        <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-white text-opacity-75">Privace
                                &amp; Policy</a></li>
                        <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-white text-opacity-75">Cookie
                                Policy</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>