<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout ">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0 alert alert-danger">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>ГАЛЯ ЛАЗАРОВА</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Здравейте, аз съм Галя Лазарова, маникюрист с 14 години опит в индустрията. Още от дете,
                            маникюрът беше моят мечтан обект на страст и развитие. Вярвам, че когато обичате това, което
                            правите, то не е просто работа, а истинско удоволствие. Преди 5 години реших да споделя тази
                            страст към маникюра с учениците си и бъдещите професионалисти.</p>
                        <p class="description-p text-muted pe-0 pe-lg-0">Завършила курс по маникюр, педикюр и
                            ноктопластика в най-добрата академия в света, Nails Harmony Bulgaria. С удоволствие споделям
                            знанията и уменията, които придобих в този високопрофесионален обучителен център, с моите
                            ученици и всички, които обичат и ценят красотата на поддържаните нокти.</p>
                        <div class="sosmed-horizontal pt-3 pb-3">
                            <a href="https://www.facebook.com/GBStylebyGalyalazarova"><i class="fa fa-facebook"></i></a>
                            <a
                                href="https://www.instagram.com/gb_style_by_galya_lazarova/?igsh=MTlodzNwMGQ1ajdsMQ%3D%3D&utm_source=qr"><i
                                    class="fa fa-instagram"></i></a>

                        </div>
                        <div class="card alert alert-danger" style="width: 18rem;">
                            <div class="card-header">
                                Информация :
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Цена :1600лв. / 163 учебни часа</li>

                                <li class="list-group-item">Теория и практика по МАНИКЮР, ПЕДИКЮР и НОКТОПЛАСТИКА</li>
                                <li class="list-group-item">Индивидуални и групови курсове</li>
                                <li class="list-group-item">гр.София кв.Оборище, ул.Марица №11</li>
                                <li class="list-group-item">0887770818</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <img src="assets/img/2024-01-07_11-12-46-214.jpg" alt="potoabout" width="500" height="700" />
                </figure>
            </div>
        </div>
    </div>
</section>