<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <section class="member-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="img-container">
                        <img src="assets/img/2024-01-07_11-12-46-214.jpg" alt="team member" class="img-full">
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="member_designation">
                        <h2>ГАЛЯ ЛАЗАРОВА</h2>
                        <span>NAILS ARTIST</span>
                    </div>
                    <div class="member_desc">
                        <p>
                            Здравейте, аз съм Галя Лазарова, маникюрист с 14 години опит в индустрията. Още от дете,
                            маникюрът беше моят мечтан обект на страст и развитие. Вярвам, че когато обичате това, което
                            правите, то не е просто работа, а истинско удоволствие. Преди 5 години реших да споделя тази
                            страст към маникюра с учениците си и бъдещите професионалисти. </p>
                        <p>
                            Завършила курс по маникюр, педикюр и
                            ноктопластика в най-добрата академия в света, Nails Harmony Bulgaria. С удоволствие споделям
                            знанията и уменията, които придобих в този високопрофесионален обучителен център, с моите
                            ученици и всички, които обичат и ценят красотата на поддържаните нокти.</p>
                        <ul class="styled_list">
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Цялостен пакет по
                                МАНИКЮР, ПЕДИКЮР и НОКТОПЛАСТИКА с предоставяне на Удостоверение за завършен курс с EUROPASS  цена:
                                1600 лв. / 163 учебни час</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Цялостен пакет по
                                МАНИКЮР, ПЕДИКЮР и НОКТОПЛАСТИКА с предоставяне на Диплома от НАПО за завършен курс
                                цена: 2400 лв. / 6 месеца</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Теория и практика
                                по МАНИКЮР цена: 900 лв. / 36 учебни час</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Теория и практика
                                по ПЕДИКЮР цена: 900 лв. / 36 учебни час</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Теория и практика
                                по НОКТОПЛАСТИКА цена: 900 лв. / 36 учебни час</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Индивидуални и
                                групови курсове</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>гр.София
                                кв.Оборище, ул.Марица №11</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>0887770818</li>

                        </ul>
                        <div class="sosmed-horizontal pt-3 pb-3">

                            <button type="button" class="btn btn-outline-dark">
                                <a class="btn-link" href="manicure/gallery">Галерия</a>
                            </button>

                        </div>

                    </div>
                    <div class="bg-image "
                        style="background-image: url('https://www.bootdey.com/img/Content/bg_element.jpg');">
                        <div class="member_contact">
                            <div class="row">
                                <div class="col-lg-4  mb-3 mb-lg-0">
                                    <div class="media-box">
                                        <div class="media-icon">
                                            <i class="fa fa-tablet" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-content">
                                            <h5>Phone</h5>
                                            <p><a href="callto">0887770818</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4  mb-3 mb-lg-0">
                                    <div class="media-box">
                                        <div class="media-icon">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-content">
                                            <h5>Email</h5>
                                            <p><a href="mailto">lazarova.galq&#64;gmail.com</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="social-icons">
                                        <button class="btn btn-social outlined">
                                            <a href="https://www.facebook.com/GBStylebyGalyalazarova"><i
                                                    class="fa fa-facebook"></i></a></button>

                                        <button class="btn btn-social "><a
                                                href="https://www.instagram.com/gb_style_by_galya_lazarova/?igsh=MTlodzNwMGQ1ajdsMQ%3D%3D&utm_source=qr"><i
                                                    class="fa fa-instagram"></i></a></button>
                                        <button class="btn btn-social "><a href="manicure/gallery"><i
                                                    class="fa fa-image"></i></a></button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section>
</div>