<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="content-item" id="gallery">
    <div class="container">
        
        <div class="section-title mb-4 pb-2 text-center">
            <h4 class="title mb-4">ГАЛЕРИЯ</h4>
        </div>
        
        <div class="row">
            <!-- GALLERY ITEM 1 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/172491656_2866225313649981_4598927988127603579_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_01.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 1 - END -->
            
            <!-- GALLERY ITEM 2 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/179736784_2878149815790864_4040993384807129782_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_02.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 2 - END -->
            
            <!-- GALLERY ITEM 3 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/180169120_2878147989124380_1325188117810350364_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_03.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 3 - END -->
            
            <!-- GALLERY ITEM 4 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/185757279_2887717481500764_7341593601733971180_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_04.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 4 - END -->
        
            <!-- GALLERY ITEM 5 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/192457101_2899145253691320_2850450647503926066_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_05.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 5 - END -->
            
            <!-- GALLERY ITEM 6 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/197933051_2907472622858583_6209448776059185931_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_06.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 6 - END -->
            
            <!-- GALLERY ITEM 7 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/218249668_2930837737188738_1323985477622475432_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_07.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 7 - END -->
            
            <!-- GALLERY ITEM 8 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/218563339_2933166613622517_1800459159411375539_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_08.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 8 - END -->

            <!-- GALLERY ITEM 1 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/219584316_2933166603622518_5343262244072189580_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_01.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 1 - END -->
            
            <!-- GALLERY ITEM 2 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/245854778_2998492087089969_150988724454088381_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_02.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 2 - END -->
            
            <!-- GALLERY ITEM 3 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/245921545_2998492080423303_1490023701125768098_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_03.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 3 - END -->
            
            <!-- GALLERY ITEM 4 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/247367557_3002600650012446_2613738538655157427_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_04.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 4 - END -->
        
            <!-- GALLERY ITEM 5 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/275968591_3113052775633899_5576585646016544979_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_05.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 5 - END -->
            
            <!-- GALLERY ITEM 6 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/276124769_3113052778967232_2174763786441875830_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_06.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 6 - END -->
            
            <!-- GALLERY ITEM 7 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/278712455_3138812319724611_3235624247478966112_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_07.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 7 - END -->
            
            <!-- GALLERY ITEM 8 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/288813172_3178291399110036_2626551758959601721_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_08.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 8 - END -->
            <!-- GALLERY ITEM 1 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/311255144_504232918380081_6322315518840170114_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_01.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 1 - END -->
            
            <!-- GALLERY ITEM 2 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/image/311497826_510418641094842_4350884110415316792_n.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="#assets/images/image_02.JPG" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="#" class=""><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 2 - END -->
            
        </div>
    </div>
</section>