<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0 alert alert-danger ">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>АННА КАРАСТОЯНОВА</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Казвам се Анна Карастоянова.</p>
                        
                        <p class="description-p text-muted pe-0 pe-lg-0">Завършила съм професионална гимназия по
                            Завършила два курса в една от най-добрите академии в света-Sviato Academy. Преминала е курс
                            в Естония. Учила е при един от топ 5 треньори в Естония-Виталина Качоривская. Работи с
                            техниките Soft liner, Magic Shading, Aquarell Lips. . </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Извършва и премахване на стар некачествен перманентен грим.Работи само с
                            най-висококачествени пигменти и материали сертифицирани в Европа.
                        </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Използва наноигли, които не нараняват кожата и не предизвикват силни отоци. Всички
                            консумативи са за еднократна употреба и се унищожават веднага след процедурата
                        </p>
                        <div class="sosmed-horizontal pt-3 pb-3">
                            <a href="https://www.facebook.com/profile.php?id=100008199495265"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/ani.kara.permanent/?igsh=MWFscDg5eGs5ZDY2MQ%3D%3D"><i
                                    class="fa fa-instagram"></i></a>
                                    <button type="button" class="btn btn-outline-dark">Галерия</button>
                        </div>

                        <!-- <div class="alert alert-secondary" role="alert">
                            Курсове за професионален грим, цени и местоположение
                        </div> -->
                        <div class="card alert alert-danger" style="width: 18rem;">
                            <div class="card-header">
                                Информация :
                            </div>
                            <ul class="list-group list-group-flush">
                                <!-- <li class="list-group-item">Цена :1300лв. / 40 учебни часа</li>
                                <li class="list-group-item">Цена :180лв. / 3 астрономически часа / Урок по самогримиране
                                </li> -->
                                <li class="list-group-item">Теория и практика</li>
                                <li class="list-group-item">Индивидуални курсове</li>
                                <li class="list-group-item">гр.София</li>
                                <li class="list-group-item">0889617199</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <img src="assets/img/2024-01-06_15-55-24-210.jpg" alt="potoabout" width="500" height="700" />
                </figure>
            </div>
        </div>
    </div>
</section>