<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0 alert alert-danger ">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>НАНСИ И РАДИ</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Здравейте и от нас, Нанси и Ради! </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            С над 8-годишен опит във фризьорството, придобит след завършване на курсовете в престижната
                            академия на Стилист Капанов, ние от Shameless Beauty Studio сме посветени на изкуството на
                            красотата.</p>
                        <p class="description-p text-muted pe-0 pe-lg-0">През последните 5 години създадохме уникален
                            стил, който се отразява в цветни и екстравагантни визии, изградени с помощта на
                            разнообразните техники за плитки, предлагани в света на козметиката. </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            С удоволствие обменяме нашия опит, а именно в областта на плитките, като предлагаме
                            индивидуални и групови курсове. Независимо дали сте начинаещ или вече имате опит, нашите
                            курсове са подходящи за всеки, който желае да се развива и да придобие умения в тази
                            изключително творческа област на фризьорството.
                        </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Специализираните ни обучения не изискват предварителен опит, а само голямото ви желание за
                            научаване и проспериране. Запишете се сега и се впуснете в света на красотата с нас!
                        </p>
                        <div class="sosmed-horizontal pt-3 pb-3">
                           
                            <a href="https://www.facebook.com/ShamelessBeautyStudio"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/sshameless0/?igsh=OTF4NnRxbnJ3bWRi"><i
                                    class="fa fa-instagram"></i></a>
                                    <button type="button" class="btn btn-outline-dark">Галерия</button>
                             
                        </div>

                        <!-- <div class="alert alert-secondary" role="alert">
                            Курсове за професионален грим, цени и местоположение
                        </div> -->
                        <div class="card alert alert-danger" style="width: 18rem;">
                            <div class="card-header">
                                Информация :
                            </div>
                            <ul class="list-group list-group-flush">
                                <!-- <li class="list-group-item">Цена :1300лв. / 40 учебни часа</li>
                                <li class="list-group-item">Цена :180лв. / 3 астрономически часа / Урок по самогримиране
                                </li> -->
                                <li class="list-group-item">Теория и практика</li>
                                <li class="list-group-item">Индивидуални или групови курсове</li>
                                <li class="list-group-item">Цена на еднодневен курс 370лв / 8часа </li>
                                <li class="list-group-item">гр.София, ж-к Изток, ул.Антон Чехов 10</li>
                                <li class="list-group-item">0877 940 666</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <img src="assets/img/viber_изображение_2024-01-21_10-36-16-538.jpg" alt="potoabout" width="500"
                        height="700" />
                </figure>
            </div>
        </div>
    </div>
</section>