<div class="container">
    <div class="section-title text-center">
        <h2>ГАЛЕРИЯ</h2>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="grid" class="row">
                <div class="mix col-sm-3 page1 page4 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/viber_изображение_2024-01-24_17-09-53-422.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3 page2 page3 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/viber_изображение_2024-01-24_17-09-53-937.jpg" class="img-responsive" alt="workimg">
                        
                    </div> 

                </div>
                <div class="mix col-sm-3  page3 page2 margin30 ">
                    <div class="item-img-wrap ">
                        <img src="assets/image/viber_изображение_2024-01-24_17-09-54-129.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3  page4 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/viber_изображение_2024-01-24_17-09-54-322.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3 page1 margin30 ">
                    <div class="item-img-wrap ">
                        <img src="assets/image/viber_изображение_2024-01-24_17-09-54-702.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3  page2 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/viber_изображение_2024-01-24_17-09-54-903.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3  page3 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/viber_изображение_2024-01-24_17-09-55-085.jpg" class="img-responsive" alt="workimg">
                        
                    </div> 

                </div>
                <div class="mix col-sm-3 page4  margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/viber_изображение_2024-01-24_17-09-55-265.jpg" class="img-responsive" alt="workimg">
                      
                    </div> 
                </div>  
                <div class="mix col-sm-3  page2 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/viber_изображение_2024-01-24_17-10-38-441.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3  page3 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/viber_изображение_2024-01-24_17-10-38-665.jpg" class="img-responsive" alt="workimg">
                        
                    </div> 

                </div>
                <div class="mix col-sm-3 page4  margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/viber_изображение_2024-01-24_17-10-38-991.jpg" class="img-responsive" alt="workimg">
                      
                    </div> 
                </div>                                                          
            </div><!--grid-->
        </div>
    </div>
    <!-- <div class="row gallery-bottom">
        <div class="col-sm-6">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 text-right">
            <em>Displaying 1 to 8 (of 100 posts)</em>
        </div>
    </div> -->
</div>