<div class="container">
    <div class="section-title text-center">
        <h2>ГАЛЕРИЯ</h2>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="grid" class="row">
                <div class="mix col-sm-3 page1 page4 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/425727892_122112043094195604_1496590511141348843_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3 page2 page3 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/425698259_122112043052195604_5175770084028951929_n.jpg" class="img-responsive" alt="workimg">
                        
                    </div> 

                </div>
                <div class="mix col-sm-3  page3 page2 margin30 ">
                    <div class="item-img-wrap ">
                        <img src="assets/image/425685194_122112043004195604_3552699925516641155_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3  page4 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/425663855_122112043076195604_4519464605217270999_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3 page1 margin30 ">
                    <div class="item-img-wrap ">
                        <img src="assets/image/425644058_122112042980195604_5031913681578059854_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3  page2 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/425637240_122112042992195604_5462007790083183685_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
      
                <div class="mix col-sm-3 page4  margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/425555656_122112043016195604_962794615685857245_n.jpg" class="img-responsive" alt="workimg">
                      
                    </div> 
                </div>  
                <div class="mix col-sm-3  page2 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/425550774_122112042926195604_3214482960910489722_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3  page3 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/425364770_122112042908195604_2951474727950203411_n.jpg" class="img-responsive" alt="workimg">
                        
                    </div> 

                </div>
                <div class="mix col-sm-3  page3 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/425629786_122112042956195604_7664284406854711129_n.jpg" class="img-responsive" alt="workimg">
                        
                    </div> 

                </div>                                                      
            </div><!--grid-->
        </div>
    </div>
    <!-- <div class="row gallery-bottom">
        <div class="col-sm-6">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 text-right">
            <em>Displaying 1 to 8 (of 100 posts)</em>
        </div>
    </div> -->
</div>