<!-- <p>header works!</p> -->
<!-- <nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <img src="../../../assets/image/Logo.pdf"  alt="">
    <iframe src="../../../assets/image/Logo2.pdf" width="100%" height="600px"></iframe>

   
    <a class="navbar-brand" href="#">BEAUTY
      TRAINING</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav> -->



<!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="alert alert-secondary" role="alert">
  A simple secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->

<!-- <header class="masthead">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 py-5">
                <h1 class="mb-4">ЛИЦЕНЗИРАН ЦЕНТЪР ЗА ОБУЧЕНИЯ ПО КОЗМЕТИКА, ФРИЗЬОРСТВО, МАНИКЮР, ГРИМ.</h1>
            </div>
            <div class="col-lg-5">
                <div class="py-5 px-4 masthead-cards">
                    <div class="d-flex">
                        <a href="#" class="w-50 pr-3 pb-4">
                            <div class="card border-0 border-bottom-red shadow-lg shadow-hover">
                                <div class="card-body text-center">
                                    <div class="text-center">
                                        <i class="fa fa-pencil fa-4x my-2"></i>
                                    </div>
                                    Themes
                                </div>
                            </div>
                        </a>
                        <a href="#" class="w-50 pl-3 pb-4">
                            <div class="card border-0 border-bottom-blue shadow-lg shadow-hover">
                                <div class="card-body text-center">
                                    <div class="text-center">
                                        <i class="fa fa-th fa-4x my-2"></i>
                                    </div>
                                    Templates
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="d-flex">
                        <a href="#" class="w-50 pr-3">
                            <div class="card border-0 border-bottom-yellow shadow-lg shadow-hover">
                                <div class="card-body text-center">
                                    <div class="text-center">
                                        <i class="fa fa-4x fa-code my-2"></i>
                                    </div>
                                    Snippets
                                </div>
                            </div>
                        </a>
                        <a href="#" class="w-50 pl-3">
                            <div class="card border-0 border-bottom-green shadow-lg shadow-hover">
                                <div class="card-body text-center">
                                    <div class="text-center">
                                        <i class="fa fa-4x fa-list my-2"></i>
                                    </div>
                                    Guides
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="shape"></div>
                </div>
            </div>
        </div>
    </div>
    <svg style="pointer-events: none" class="wave" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
        <defs>
            <style>
                .a {
                    fill: none;
                }
                
                .b {
                    clip-path: url(#a);
                }
                
                .c,
                .d {
                    fill: #f9f9fc;
                }
                
                .d {
                    opacity: 0.5;
                    isolation: isolate;
                }
            </style>
            <clipPath id="a">
                <rect class="a" width="1920" height="75"></rect>
            </clipPath>
        </defs>
        <title>wave</title>
        <g class="b">
            <path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path>
        </g>
        <g class="b">
            <path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path>
        </g>
        <g class="b">
            <path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path>
        </g>
        <g class="b">
            <path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path>
        </g>
    </svg>
</header> -->

<div class="container headerTop ">
  <div class="row text-center justify-content-center">
      <div class="col-md-11">
          <h1 class="mb-4"> <mark data-aos="highlight-text" data-aos-delay="200" class="aos-init aos-animate">Beauty Traiding</mark></h1>
          <p class="mb-9 lead">
            ЛИЦЕНЗИРАН ЦЕНТЪР ЗА ОБУЧЕНИЯ ПО КОЗМЕТИКА, ФРИЗЬОРСТВО, МАНИКЮР, ГРИМ
          </p>
          <!-- <div class="form-row">
              <div class="col-4">
                  <img src="https://www.bootdey.com/image/387x470/FF0000/000000" class="img-fluid rounded shadow-lg transition-hover" alt="...">
              </div>
              <div class="col-3">
                  <img src="https://www.bootdey.com/image/470x424/8A2BE2/000000" class="img-fluid rounded shadow-lg mb-2 transition-hover" alt="...">
                  <img src="https://www.bootdey.com/image/470x318/5F9EA0/000000" class="img-fluid rounded shadow-lg mt-2 transition-hover" alt="...">
              </div>
              <div class="col-5">
                  <div class="form-row mb-2">
                      <div class="col-5">
                          <img src="https://www.bootdey.com/image/314x284/FF7F50/000000" class="img-fluid rounded shadow-lg transition-hover" alt="...">
                      </div>
                      <div class="col-7">
                          <img src="https://www.bootdey.com/image/810x480/6495ED/000000" class="img-fluid rounded shadow-lg transition-hover" alt="...">
                      </div>
                  </div>
                  <img src="https://www.bootdey.com/image/810x460/00008B/000000" class="img-fluid rounded shadow-lg mt-2 transition-hover" alt="...">
              </div>
          </div> -->
      </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="container  headerSm">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 order-2 order-md-1 mt-4 pt-2 mt-sm-0 opt-sm-0">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 mt-4 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="assets/img/2024-01-04_11-38-51-087.jpg" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-12">
                            <div class="mt-4 pt-2 text-right">
                                <a href="javascript:void(0)" class="btn btn-dark">НАУЧИ ПОВЕЧЕ <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->

                <div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="assets/img/330407894_160369856813441_4834590122414320385_n.jpg" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>
                        <!--end col-->

                        <div class="col-lg-12 col-md-12 mt-4 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                                <img src="assets/img/2023-11-15_17-21-11-383.jpg" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end col-->

        <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2">
            <div class="section-title ml-lg-5">
                <!-- <h5 class="text-custom font-weight-normal mb-3">About Us</h5> -->
                <!-- <p class="mb-9 lead">
                    ЛИЦЕНЗИРАН ЦЕНТЪР ЗА ОБУЧЕНИЯ ПО КОЗМЕТИКА, ФРИЗЬОРСТВО, МАНИКЮР, ГРИМ, МАСАЖ, МИГЛОПЛАСТИКА, МИКРОБЛЕЙДИНГ
                  </p> -->
                <p class="text-muted mb-0">Дългогодишният опит и професионализмът на нашия екип е в основата на отличната ни репутация. При нас получавате пълноценно обучение по доказани образователни програми.</p>
              
                <div class="row">
                    <div class="col-12">
                        <div class="mt-4 pt-2 text-right">
                            <a href="javascript:void(0)" class="btn btn-dark">НАУЧИ ПОВЕЧЕ <i class="mdi mdi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end col-->
    </div>
    <!--enr row-->
</div>


