<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0 alert alert-danger ">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3> ЕЛЕНА ДИМИТРОВА</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Казвам се Елена Димитрова.
                            По позната съм като Елинор в бюти индустрията и по-точно казано Стилист на прически.</p>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Официално се занимавам с фризьорство от 18 години ,ако не броим подстриганите кукли в
                            детството ми.</p>
                        <p class="description-p text-muted pe-0 pe-lg-0">Завършила съм професионална гимназия по
                            “Фризьорство и Козметика” в София.
                            Печелила съм 1 място в онлайн конкурс от Токио за дебют Арт визия. </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Участвала съм в Mad mood Fashion week Milano с направата на техните модели в България.Също
                            участвам в най-голямото изложение за сватби в София
                            Wedding Expo Alegria.
                        </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Правя собствени ревюта в колаборация с мои колеги в известен столичен ресторант.Водя курсове
                            за официални прически в две школи .
                            С обич,Елинор!
                        </p>
                        <div class="sosmed-horizontal pt-3 pb-3">
                            <a href="https://www.facebook.com/profile.php?id=100063511212951"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/hairstyle_elinor/?igsh=MW1qejd3cGZ2Y3h0dg%3D%3D"><i
                                    class="fa fa-instagram"></i></a>

                        </div>

                        <!-- <div class="alert alert-secondary" role="alert">
                            Курсове за професионален грим, цени и местоположение
                        </div> -->
                        <div class="card alert alert-danger" style="width: 18rem;">
                            <div class="card-header">
                                Информация :
                            </div>
                            <ul class="list-group list-group-flush">
                                <!-- <li class="list-group-item">Цена :1300лв. / 40 учебни часа</li>
                                <li class="list-group-item">Цена :180лв. / 3 астрономически часа / Урок по самогримиране
                                </li> -->
                                <li class="list-group-item">Теория и практика</li>
                                <li class="list-group-item">Индивидуални курсове</li>
                                <li class="list-group-item">гр.София</li>
                                <li class="list-group-item">0899700727</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <img src="assets/img/2024-01-06_15-55-24-627.jpg" alt="potoabout" width="500" height="700" />
                </figure>
            </div>
        </div>
    </div>
</section>