<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <section class="member-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="img-container">
                        <img src="assets/img/2024-01-06_15-55-24-627.jpg" alt="team member" class="img-full">
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="member_designation">
                        <h2>ЕЛЕНА ДИМИТРОВА</h2>
                        <span>HAIR ARTIST</span>
                    </div>
                    <div class="member_desc">
                        <p> Казвам се Елена Димитрова.
                            По позната съм като Елинор в бюти индустрията и по-точно казано Стилист на прически.
                        </p>

                        <p>Официално се занимавам с фризьорство от 18 години ,ако не броим подстриганите кукли в
                            детството ми.
                        </p>
                        <p>Завършила съм професионална гимназия по
                            “Фризьорство и Козметика” в София.
                            Печелила съм 1 място в онлайн конкурс от Токио за дебют Арт визия.
                        </p>

                        <p> Участвала съм в Mad mood Fashion week Milano с направата на техните модели в България.Също
                            участвам в най-голямото изложение за сватби в София
                            Wedding Expo Alegria.
                        </p>

                        <p> Правя собствени ревюта в колаборация с мои колеги в известен столичен ресторант.Водя курсове
                            за официални прически в две школи .
                            С обич,Елинор!
                        </p>
                        <ul class="styled_list">

                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Теория и практика
                            </li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Индивидуални и
                                групови курсове</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>гр.София</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>0899700727</li>

                        </ul>
                        <div class="sosmed-horizontal pt-3 pb-3">

                            <button type="button" class="btn btn-outline-dark">
                                <a class="btn-link" href="barber/gallery">Галерия</a>
                            </button>

                        </div>


                    </div>
                    <div class="bg-image "
                        style="background-image: url('https://www.bootdey.com/img/Content/bg_element.jpg');">
                        <div class="member_contact">
                            <div class="row">
                                <div class="col-lg-4  mb-3 mb-lg-0">
                                    <div class="media-box">
                                        <div class="media-icon">
                                            <i class="fa fa-tablet" aria-hidden="true"></i>
                                        </div>
                                        <div class="media-content">
                                            <h5>Phone</h5>
                                            <p><a href="callto">0899700727</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4  mb-3 mb-lg-0">

                                </div>
                                <div class="col-lg-4">
                                    <div class="social-icons">
                                        <button class="btn btn-social outlined">
                                            <a href="https://www.facebook.com/profile.php?id=100063511212951"><i
                                                    class="fa fa-facebook"></i></a></button>

                                        <button class="btn btn-social "><a
                                                href="https://www.instagram.com/hairstyle_elinor/?igsh=MW1qejd3cGZ2Y3h0dg%3D%3D"><i
                                                    class="fa fa-instagram"></i></a></button>
                                        <button class="btn btn-social "><a href="barber/gallery"><i
                                                    class="fa fa-image"></i></a></button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section>
</div>