<div class="container">
    <div class="section-title text-center">
        <h2>ГАЛЕРИЯ</h2>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="grid" class="row">
                <div class="mix col-sm-3 page1 page4 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/172491656_2866225313649981_4598927988127603579_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3 page2 page3 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/180169120_2878147989124380_1325188117810350364_n.jpg" class="img-responsive" alt="workimg">
                        
                    </div> 

                </div>
                <div class="mix col-sm-3  page3 page2 margin30 ">
                    <div class="item-img-wrap ">
                        <img src="assets/image/185757279_2887717481500764_7341593601733971180_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3  page4 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/192457101_2899145253691320_2850450647503926066_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3 page1 margin30 ">
                    <div class="item-img-wrap ">
                        <img src="assets/image/197933051_2907472622858583_6209448776059185931_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3  page2 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/218249668_2930837737188738_1323985477622475432_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3  page3 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/218563339_2933166613622517_1800459159411375539_n.jpg" class="img-responsive" alt="workimg">
                        
                    </div> 

                </div>
                <div class="mix col-sm-3 page4  margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/219584316_2933166603622518_5343262244072189580_n.jpg" class="img-responsive" alt="workimg">
                      
                    </div> 
                </div>  
                <div class="mix col-sm-3  page2 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/245854778_2998492087089969_150988724454088381_n.jpg" class="img-responsive" alt="workimg">
                       
                    </div> 

                </div>
                <div class="mix col-sm-3  page3 margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/247367557_3002600650012446_2613738538655157427_n.jpg" class="img-responsive" alt="workimg">
                        
                    </div> 

                </div>
                <div class="mix col-sm-3 page4  margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/275968591_3113052775633899_5576585646016544979_n.jpg" class="img-responsive" alt="workimg">
                      
                    </div> 
                </div>    
                <div class="mix col-sm-3 page4  margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/276124769_3113052778967232_2174763786441875830_n.jpg" class="img-responsive" alt="workimg">
                      
                    </div> 
                </div>  
                <div class="mix col-sm-3 page4  margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/278712455_3138812319724611_3235624247478966112_n.jpg" class="img-responsive" alt="workimg">
                      
                    </div> 
                </div>  
                <div class="mix col-sm-3 page4  margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/288813172_3178291399110036_2626551758959601721_n.jpg" class="img-responsive" alt="workimg">
                      
                    </div> 
                </div>  
                <div class="mix col-sm-3 page4  margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/311255144_504232918380081_6322315518840170114_n.jpg" class="img-responsive" alt="workimg">
                      
                    </div> 
                </div>  
                <div class="mix col-sm-3 page4  margin30">
                    <div class="item-img-wrap ">
                        <img src="assets/image/311497826_510418641094842_4350884110415316792_n.jpg" class="img-responsive" alt="workimg">
                      
                    </div> 
                </div>                                                        
            </div><!--grid-->
        </div>
    </div>
    <!-- <div class="row gallery-bottom">
        <div class="col-sm-6">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 text-right">
            <em>Displaying 1 to 8 (of 100 posts)</em>
        </div>
    </div> -->
</div>